* {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.save-btn {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 16px;
  background: #0066ff;
  color: white;
  border: none;
  cursor: pointer;
}

ul,
ol {
  padding-left: 15px;
}

ul ul,
ol ol {
  padding-left: 30px;
}
